<h5>{{title}} <small>click any field to annotate</small></h5>
<div class="well well-sm">
    <table class="table"><tbody></tbody></table>
    {{#editable}}
    <button type=button class="btn btn-default">New field</button>
    {{/editable}}
</div>
