<table class="table" id="hpb-info-table">
    <tbody>
        <tr><td><a href=''>pica.tit=yourQuery</a></td> <td>Search in title, uniform title and varying title field </td></tr>
        <tr><td><a href=''>pica.per=yourQuery</a></td> <td>Search in author and collaborator field</td></tr>
        <tr><td><a href=''>pica.pub=yourQuery</a></td> <td>Search in fields related to publisher</td></tr>
        <tr><td><a href=''>pica.yop=yearQuery</a></td> <td>Get only records published in a specific year </td></tr>
    </tbody>
</table>
