<form id="search">
    <div class="input-group">
        <input type="text" class="form-control" name="search" id="query-input" placeholder="Query">
        <div class="input-group-btn">
            <button type="submit" id="query-submit" class="btn btn-primary">Search</button>
            <button
                type="button"
                class="btn btn-default"
                id="search-info"
                data-toggle="popover"
                title="Advanced search in HPB"
                data-placement="left">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            </button>
        </div>
    </div>
</form>
