django>=4,<5
django-json-widget
django-filter
djangorestframework
psycopg
requests
lxml
beautifulsoup4
sruthi
rdflib
restframework-rdf@git+https://github.com/UUDigitalHumanitieslab/restframework-rdf@develop
dj-rest-auth
edpop-explorer>=0.9.0
