<td><input
    type=text
    name=key
    form=form-{{cid}}
    class=form-control
    placeholder="Field"
    title="Field annotation name"
    value="{{key}}"
    required
    {{#key}}disabled{{/key}}
></td>
<td><input
    type=text
    name=value
    form=form-{{cid}}
    class=form-control
    placeholder="Value"
    title="Field annotation value"
    value="{{value}}"
    required
></td>
<td><form id=form-{{cid}}>
    <button type=submit class="btn btn-primary">Save</button>
    <button type=reset class="btn btn-default">Cancel</button>
    <button type=button class="btn btn-danger" aria-label=Delete>
        <span class="glyphicon glyphicon-trash" aria-hidden=true></span>
    </button>
</form></td>
