<a href="" class="dropdown-toggle" data-toggle="dropdown"
    id="collection-menu-title" aria-haspopup="true" aria-expanded="false">Collections <span class="caret"></span>
</a>
<ul class="dropdown-menu">
    {{#collections}}
        <li {{#selected}}class="active" {{/selected}}> <a href="/collection/{{id}}/" id="{{id}}">{{description}}</a></li>
    {{/collections}}
</ul>
