<a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Logged in as <b>{{username}}<span class="caret"></b></a>
<ul class="dropdown-menu">
    {{#is_staff}}
    <li><a href="/admin/">Go to admin</a></li>
    {{/is_staff}}
    <li><a href="/accounts/password_change/">Change password</a></li>
    <li><a href="/accounts/logout/">Logout</a></li>
</ul>
