<!DOCTYPE html>
<html lang=en>
    {% load static %}
    <head>
        <meta http-equiv="charset" content="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}EDPOP VRE{% endblock %}</title>
        {% block style %}
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
            integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
            crossorigin="anonymous"
        >
        <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css" rel="stylesheet" />
        {% endblock style %}
    </head>
    <body>
        {% csrf_token %}
        <nav class="navbar navbar-default">
            {# see https://getbootstrap.com/docs/3.3/components/#navbar-default #}
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#" title="EDPOP Virtual Research Environment">EDPOP VRE</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li id=vre-group-menu class=dropdown>
                            <a href="#" role=button class=dropdown-toggle data-toggle=dropdown aria-haspopup=true aria-expanded=false></a>
                            <ul class=dropdown-menu></ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        {% block content %}{% endblock content %}
        {% block scripts %}
        <script
          src="https://code.jquery.com/jquery-3.3.1.min.js"
          integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
          crossorigin="anonymous"></script>

        <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.5/lodash.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"
        ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone-min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
        <script>
            var prefetchedCollections = JSON.parse('{{ prefetched_collections | escapejs }}');
            var prefetchedGroups = JSON.parse('{{ prefetched_groups | escapejs }}');
        </script>
        <script src="{% static "vre/main.js" %}"></script>
        {% endblock scripts %}
        {% block templates %}
        {% include "vre/client_templates.html" %}
        {% endblock templates %}
    </body>
</html>
