{% verbatim %}
<script type="text/x-handlebars-template" id="item-fields">
    <h5>Original content</h5>
    <div class="well well-sm">
        <table class="table"><tbody>
        {{#fields}}
            <tr><td><u>{{key}}</u></td><td>{{value}}</td></tr>
        {{/fields}}
        </tbody></table>
    </div>
    <h5>Field annotations</h5>
    <div class="well well-sm">
        <table class="table"><tbody></tbody></table>
    </div>
</script>

<script type="text/x-handlebars-template" id="item-field-annotation">
    <td><u>{{key}}</u></td><td>{{value}}</td><td>{{group}}</td>
</script>

<script type="text/x-handlebars-template" id="record-list">
    <h4></h4>
    <table class="table table-striped">
        <tbody></tbody>
    </table>
</script>

<script type="text/x-handlebars-template" id="record-list-item">
    <td><input type="checkbox"></td>
    <td><a href="#">{{# content}}{{Title}}{{/ content}}</a></td>
</script>

<script type="text/x-handlebars-template" id="collection-selector">
    <div class="alert alert-success" role="alert"></div>
    <div class="alert alert-warning" role="alert"></div>
    <select name="collections" multiple="multiple" style="width: 25%;">
        {{#models}}<option value={{id}}>{{description}}</option>{{/models}}
    </select>
    <button class="btn btn-primary" type="submit" id="add">Add to collection...</button>
</script>

<script type="text/x-handlebars-template" id="nav-dropdown">
    <a href="" class="dropdown-toggle" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">Database <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li><a href="/vre/hpb" id="hpb">HPB</a></li>
        <li role="separator" class="divider"></li>
        {{#collections}}
            <li> <a href="/vre/{{id}}" id="{{id}}">{{description}}</a></li>
        {{/collections}}
    </ul>
</script>

<script type="text/x-handlebars-template" id="search-view">
    <form class="navbar-form navbar-left" id="search">
        <div class="form-group">
            <input type="text" class="form-control" name="search" placeholder="Query">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</script>

{% endverbatim %}
