{% verbatim %}
<script type="text/x-handlebars-template" id="field-list">
    <h5>{{title}} <small>click any field to annotate</small></h5>
    <div class="well well-sm">
        <table class="table"><tbody></tbody></table>
        {{#editable}}
        <button type=button class="btn btn-default">New field</button>
        {{/editable}}
    </div>
</script>

<script type="text/x-handlebars-template" id="field-list-item">
    <td><u>{{key}}</u></td>
    <td>{{value}}</td>
    {{#group}}<td>{{group}}</td>{{/group}}
</script>

<script type="text/x-handlebars-template" id="field-list-item-edit">
    <td><input
        type=text
        name=key
        form=form-{{cid}}
        class=form-control
        placeholder="Field"
        title="Field annotation name"
        value="{{key}}"
        required
        {{#key}}disabled{{/key}}
    ></td>
    <td><input
        type=text
        name=value
        form=form-{{cid}}
        class=form-control
        placeholder="Value"
        title="Field annotation value"
        value="{{value}}"
        required
    ></td>
    <td><form id=form-{{cid}}>
        <button type=reset class="btn btn-default">Cancel</button>
        <button type=submit class="btn btn-primary">Save</button>
    </form></td>
</script>

<script type="text/x-handlebars-template" id="record-list">
    <h4 id="search-feedback"></h4>
    <table class="table table-striped">
        <tbody></tbody>
    </table>
</script>

<script type="text/x-handlebars-template" id="record-list-item">
    <td><input type="checkbox"></td>
    <td><a href="#">{{# content}}{{Title}}{{/ content}}</a></td>
</script>

<script type="text/x-handlebars-template" id="collection-selector">
    <label for="collection-select">
        Choose collections:
        <select name="collections" multiple="multiple" style="width: 100%; id="collection-select">
            {{#models}}<option value={{id}}>{{description}}</option>{{/models}}
        </select>
    </label>
    <button class="btn btn-primary disabled" type="submit">Add</button>
</script>

<script type="text/x-handlebars-template" id="group-menu-header">
    Context: {{name}}<span class=caret></span>
</script>

<script type="text/x-handlebars-template" id="group-menu-item">
    <a href="#">{{name}}</a>
</script>

<script type="text/x-handlebars-template" id="nav-dropdown">
    <a href="" class="dropdown-toggle" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">Database <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li><a href="/vre/hpb" id="hpb">HPB</a></li>
        <li role="separator" class="divider"></li>
        {{#collections}}
            <li> <a href="/vre/{{id}}" id="{{id}}">{{description}}</a></li>
        {{/collections}}
    </ul>
</script>

<script type="text/x-handlebars-template" id="search-view">
    <form id="search">
        <div class="input-group">
            <input type="text" class="form-control" name="search" placeholder="Query">
            <div class="input-group-btn">
                <button type="submit" class="btn btn-primary">Search</button>
                <button 
                    type="button" 
                    class="btn btn-default" 
                    id="search-info" 
                    data-toggle="popover" 
                    title="Advanced search in HPB"
                    data-placement="left">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </form>
</script>

<script type="text/x-handlebars-template" id="hpb-search-info">
    <table class="table" id="hpb-info-table">
        <tbody>
            <tr><td>pica.tit=yourQuery</td> <td>Search in title, uniform title and varying title field </td></tr>
            <tr><td>pica.per=yourQuery</td> <td>Search in author and collaborator field</td></tr>
            <tr><td>pica.pub=yourQuery</td> <td>Search in fields related to publisher</td></tr>
            <tr><td>pica.yop=yearQuery</td> <td>Get only records published in a specific year </td></tr>
        </tbody>
    </table>
</script>

<script type="text/x-handlebars-template" id="failed-search-message">
    Search failed: {{responseJSON}}<br>
    Status code: {{status}}.
</script>

<script type="text/x-handlebars-template" id="alert-view">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    {{{message}}}
</script>

{% endverbatim %}
