{% extends "vre/base.html" %}
{% block content %}
<div class="container-fluid">
    <h1>{{ collection.description}}</h1>
    <h2> Search CERL HPB to add items </h2>

    <!-- <form id="search">
    {% csrf_token %}
    	<div class="input-group mb-3">
    		<input type="text" class="form-control" name="search" placeholder="" aria-label="">
    		<div class="input-group-btn">
    			<button class="btn btn-primary" type="submit" id="search">Search</button>
    		</div>
    	</div>
    </form> -->

{% include "vre/item_detail.html" %}
    <a href="#" id="more_records" style="display:none"> Load more records </a>
</div>
{% endblock content %}
