{% load static %}

<h1>{{ collection.description}}</h1>
<h2> Search CERL HPB to add items </h2>
<form method="POST">
{% csrf_token %}
<input type="text" name="search" size="30"> <br> <br>
<input type="submit" value="Search">
</form>

<!-- <form action="/create_post/" method="POST" id="post-form">
	{% csrf_token %}
	<input type="text" value="Test">
	<input type="submit" value="Test">
</form>
 -->
{% if result_list %}
<form method="POST">
	{% csrf_token %}
	<input type="submit" value="Add">
<table>
{% for result in result_list %}
	<tr>
		<td>
			<input type="checkbox" name="selected_records" id="option{{result.uri}}" value={{forloop.counter0}}>
		</td>
		<td>
			{% for field in result.selected_fields %}
				{% if field.primary %}
					<a href={% url 'item_detail' result %}> {{ field.value }} </a>
				{% else %}
					{{ field.name }}: {{ field.value }}
			{% endif %}
			{%  endfor %}
		</td>
	</tr>
{% endfor %}
</table>
</form>
{% endif %}

<!-- <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="{% static "vre/main.js"%}"></script> -->