<div class="panel panel-default" id="result_detail">
    <div class="panel-head">
        <b> {{ result.datafields.uri }} </b>
        <button>Add to {{collection.description}}</button>
        <button id="close_panel"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
    </div>
    <div class="panel-body">
        {% for field, value in result.datafields.items %}
            {% if field is not 'uri' %}
                <p>{{ field }}: {{ value }}</p>
            {% endif %}
        {%  endfor %}
    </div>
</div>
