<div class="panel panel-default" id="result_detail" style="display: none;">
    <div class="panel-head">
        <b> {{ result.datafields.uri }} </b>
        <button>Add to {{collection.description}}</button>
        <button id="close_panel"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
    </div>
    <div class="panel-body"></div>
</div>

<script type="text/x-handlebars-template" id="item-fields">{% verbatim %}
    <table>
    {{#fields}}
        <tr>
            {{#.}}<td>{{.}}</td>{{/.}}
        </tr>
    {{/fields}}
    </table>
{% endverbatim %}</script>
