<a href="" class="dropdown-toggle" data-toggle="dropdown"
    id="catalog-menu-title" aria-haspopup="true" aria-expanded="false">External catalogs <span class="caret"></span>
</a>
<ul class="dropdown-menu"></ul>
