.alert {
	display: none;
}

h2 {
	color: cornflowerblue;
}

#result_detail td {
	cursor: pointer;
}

#result_detail td form {
	white-space: nowrap;
}

#more-records {
	display: none;
}

#HPB-info {
	display: none;
}

.popover {
	max-width: 100%;
}

table#hpb-info-table td:nth-child(odd) {
	font-weight: bold;
}

#search-info{
	display: none;
}

@media (min-width: 768px) {
	#result_detail .modal-dialog {
		width: 636px;
	}
}
