<div class="modal-dialog" role=document>
    <div class="modal-content">
        <div class="modal-header">
            <button class="btn btn-default" id="load_previous">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            </button>
            <button class="btn btn-default" id="load_next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            </button>
            <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
            ><span aria-hidden="true">&times;</span></button>
            <a id="uri-link" target="blank" href="{{&uri}}">
                <h4 class="modal-title">{{uri}}</h4>
            </a>
        </div>
        <div class="modal-body"></div>
        <div class="modal-footer">
            <button type=button class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
