<h4 id="search-feedback"></h4>
<ul class="inline-list">
    <li><a href="#" class="more-records">Load more records</a></li>
    <li><a href="#" class="download-xlsx">Download XLSX</a></li>
    <li><a href="#" class="download-csv">Download CSV</a></li>
</ul>